body{
    background-color: rgb(27, 27, 27)
}

h1, h2, h4{
    background-color: blueviolet;
    color: lime;
    border-radius: 10px;
}

label{
    background-color: blueviolet;
    color: lime;
    text-decoration: underline;
}

input{
    background-color: rgb(17, 51, 51);
    color: white;
}

img{
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

button{
    background-color: lime;
    color: black;
}

#buttonsend:focus {
    background-color: red;
}